@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;700&display=swap');

/*Bronnen
https://codepen.io/nicolaspavlotsky/pen/wqGgLO
https://www.w3schools.com/howto/howto_js_filter_elements.asp
https://www.w3schools.com/howto/howto_css_modals.asp
https://www.w3schools.com/howto/howto_css_timeline.asp
https://validator.w3.org/
*/

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Manrope', sans-serif;
    background-attachment: fixed;
}

nav .list img {
    position: static;

}

nav .list li {
    display: inline-block;
    font-size: 20px;
    margin-top: 40px;
    background-color: #33469b91;
    padding: 5px 17px 5px 5px;

}

.twp img {
    max-width: 100%;
    height: auto;
}

.tutor {
    background: url("../images/index/All-Workshops/03_droomhuizen/Droomhuis_1.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    margin-bottom: 50px;
}

nav .list {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: right;
    position: fixed;
    z-index: 1;
}

.line li a {
    border-bottom: solid white;
}

nav .list li a {
    text-decoration: none;
    color: white;
}

nav .list li a:hover {
    color: white;
    background-color: #33469b;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
}

.middel {
    background: url("../images/index/1x/Asset\ 1.png") no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    margin-bottom: 70px;

}

.kader {
    color: white;
    justify-content: center;
    width: 25%;
    margin-left: 50px;
    align-items: center;
}

.kader ul {
    border: 7px solid white;
}

.kader img {
    width: 320px;
    margin-top: 50px;
    margin-bottom: 40px;
    margin-left: 20px;
}

.kader li {
    margin: 20px;
    font-size: 25px;
}

.pfbg {
    background: url("../images/index/1x/Asset-2.png") no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    margin-bottom: 30px;
}


.porto {
    background: url("../images/projects/grafitti-muur.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    margin-bottom: 50px;
}

.agendaNav {
    background: url("../images/index/1x/Asset-12.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    margin-bottom: 50px;
}

.indexTitel h1 {
    text-align: center;
    font-size: 35px;
    font-family: 'Manrope', sans-serif;

}

.titel h1 {
    color: black;
    font-size: 25px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 50px;
}

.visitekaart h2 {
    text-align: center;
    font-size: 25px;
}

.rij h2 {
    text-align: center;
    padding: 10px;
}

.rij {
    margin: 100px;
}

.title {
    color: grey;
    text-align: center;
}

footer h1 {
    font-size: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Manrope', sans-serif;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #33469b;
}

.ai {
    align-items: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    font-size: 15px;
    color: white;
}

.tab button.active {
    background-color: rgba(173, 216, 230, 0.192);
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    text-align: center;
}

footer div {
    margin-top: 20px;
    text-align: center;
}

.card {
    display: flex;
    width: 25%;
    padding: 5px;
    flex-direction: column;
}

.card img {
    display: flex;
}

.visitekaart h2 {
    text-align: center;
    font-size: 35px;
    font-family: 'Manrope', sans-serif;
}

.rij {
    display: flex;
}

/* PROCES*/
/* Three image containers (use 25% for four, and 50% for two, etc) */
.twp {
    display: flex;
    align-items: center;
    width: 33.33%;
    padding-bottom: 50px;
}

/* Clear floats after image containers */
.thinkworkplay::after {

    clear: both;
    display: flex;
}


.twptext::after {
    clear: both;
    display: table;
}


.procestext {
    font-size: 20px;
    padding: 5px;
    padding-bottom: 50px;
}

.procestext h2 {
    font-size: 35px;
    padding-left: 50px;
    color: #33469b;
}

.procestext img {
    width: 80%;
    padding-left: 50px;
}

/* footer*/
footer h1 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
    font-family: 'Manrope', sans-serif;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.068);
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    color: #33469b;
    padding-top: 30px;
}

footer .icon p {
    padding-bottom: 20px;
    text-decoration-style: none;
}

.footer-title {
    font-size: 30px;
    color: #33469b;
    padding-top: 20px;
    font-family: 'Manrope', sans-serif;
}

.icon a {
    font-size: 20px;
    text-decoration: none;

}

.icons {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.068);
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
}

footer .icons p {
    margin-top: 10px;
    padding-bottom: 10px;
}

footer .icons h1 {
    padding-top: 30px;
    margin-top: 50px;
}


.callme a {
    color: #33469b;
    font-size: 25px;
    font-family: 'Manrope', sans-serif;
}

.overlay {
    left: 0%;
    top: 0%;
    bottom: 0%;
    right: 0%;
    background: rgb(255, 255, 255);
    position: fixed;
    z-index: 10;

    animation: delay;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;

    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes delay {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-100%);
    }
}

* {
    box-sizing: border-box;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 50px;
}

/* The actual timeline (the vertical ruler) */
.timeline:after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #33469b;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.content h2 {
    font-weight: bolder;
    padding-bottom: 10px;
}

.content a {
    color: white;
}

/* Container around content */
.time {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.time::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #33469b;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #bcbab5;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #33469b;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #bcbab5;
    border-width: 10px 10px 10px 0;
    border-color: transparent #33469b transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.content {
    color: white;
    padding: 20px 30px;
    background-color: #33469b;
    position: relative;
    border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {

    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .time {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .time::before {
        left: 60px;
        border: medium solid #bcbab5;
        border-width: 10px 10px 10px 0;
        border-color: transparent #bcbab5 transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}

/*gewerkt door NABRAS*/

/*process PAGINA*/



/* proces Nicolas*/

.think {
    position: relative;
    width: 30%;
    display: inline-block;
}

.appel {
    display: block;
    width: 100%;
    height: auto;
}

.luik {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #33469b52;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.think:hover .luik {
    width: 100%;
}

.woord {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.twp {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    display: block;
}

.twp h2 {
    font-size: 30px;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 80rem;
    padding-bottom: 150px;
}

.cols {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 20px;
}

.inner p {
    font-size: 25px;
}

.inner a {

    font-size: 20px;
    color: #ffffff;
    border: none;
    background-color: #ccc;
    cursor: pointer;
    text-decoration: none;

    padding-left: 5px;
    padding-right: 5px;
}



.inner a:hover {
    font-size: 20px;
    background-color: #33469b;
    color: #ffffff;
    border: none;
    cursor: pointer;
    text-decoration: none;

    padding-left: 5px;
    padding-right: 5px;
}

.colss {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 20px;
    border-bottom: black;
    border-style: solid;
}


.col {
    width: calc(25% - 2rem);
    margin: 1rem;
    cursor: pointer;
}

.container {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.front,
.back {
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
    background-position: center;
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
    min-height: 280px;
    height: auto;
    color: #fff;
    font-size: 1.5rem;
}

.back {
    background: #cedce7;
    background: -webkit-linear-gradient(45deg, #33469b52 0%, #33469b52 100%);
    background: -o-linear-gradient(45deg, #33469b52 0%, #33469b52 100%);
    background: linear-gradient(45deg, #33469b52 0%, #33469b52 100%);
}

.front:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    background-color: rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.container:hover .front,
.container:hover .back {
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner {
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
}

.container .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container .front {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container:hover .back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container:hover .front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}


.front .inner span {
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Montserrat';
    font-weight: 300;
}

@media screen and (max-width: 64rem) {
    .col {
        width: calc(33.333333% - 2rem);
    }
}

@media screen and (max-width: 48rem) {
    .col {
        width: calc(50% - 2rem);
    }
}

@media screen and (max-width: 32rem) {
    .col {
        width: 100%;
        margin: 0 0 2rem 0;
    }
}

/*TOT HIER gewerkt door NABRAS*/

/* Agenda na feedback*/
.filter {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.examples {
    width: 90%;
    margin: 0 auto;
    max-width: 80rem;
    align-items: center;
    display: flex;
    justify-content: center;
}

/*TOT HIER gewerkt door NABRAS*/

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;

    width: 180px;
    align-items: center;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
    display: flex;

}

div.desc {
    padding: 15px;
    text-align: center;
}

.examples div {
    display: inline-block;
    align-items: center;
    margin-bottom: 10px;
}

.examples p {
    text-align: center;
    margin-top: 10px;
}

.examples img {
    margin-left: 5px;
    height: 200px;
}

/* login tutorial*/
* {
    box-sizing: border-box;
}

.tutorial {
    /* The image used */
    background-image: url(../images/index/cover.jpg);

    /* Control the height of the image */
    min-height: 380px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-left: 560px;
}

.tuto h1 {
    padding-left: 100px;
}

/* Add styles to the form container */
.tuto {
    position: absolute;
    align-items: center;
    margin: 50px;
    max-width: 300px;
    padding: 16px;
    background-color: white;
}

.tuto b {
    padding-left: 5px;
}

/* Full-width input fields */
input[type=text],
input[type=paswoord] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=paswoord]:focus {
    background-color: grey;
    outline: none;
}

.btn {
    background-color: #33469b;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}

.flex-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.icon i {
    font-size: 50px;
    color: #33469b;
}

.flex-wrap-item-tuto {
    width: 33%;
    margin-top: 20px;
    padding-left: 10px;
}

.wrapper h4 {
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.spatie {
    padding-top: 50px;
}

.overlay h5 {
    font-size: 80px;
    margin-left: 10px;
}

.iframe-wrapper {
    width: 100%;
    height: 100%;
}

.iframe-class {
    width: 100%;
    height: 100%;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 30px;
    border: 1px solid #888;
    width: 50%;
    /* Could be more or less, depending on screen size */
}

.modal-content h1 {
    font-size: 35px;
    text-align: center;
    margin: 15px;
    font-family: 'Manrope', sans-serif;
    margin-bottom: 20px;
}

.modal-content p {
    font-size: 25px;
    line-height: 30px;
    font-family: 'Manrope', sans-serif;
    margin-bottom: 20px;
}

.modal-content li {
    font-size: 20px;
    line-height: 30px;
    font-family: 'Manrope', sans-serif;

}

.modal-content li strong {
    font-size: 20px;
    line-height: 30px;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;

}

.modal-content img {
    margin: 0 auto;
}

.modal-content video {
    width: 300px;

}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Extra pagina's met foto's over workshops*/

.galerij-tekst h2 {
    display: flex;
    justify-content: center;
    font-size: 35px;
    padding-bottom: 20px;
}

.galerij img {
    align-content: center;
    width: 350px;
    height: 320px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.galerij {
    align-items: center;
    margin-left: 175px;
}

.popup {
    font-size: 25px;
    background-color: #33469b;
    color: #ffffff;
    border: none;
    font-size: 25px;
    background-color: #33469b;
    color: #ffffff;
    padding: 10px;
    cursor: pointer;
}

.popup:hover {
    font-size: 25px;
    background-color: #ccc;
    color: #33469b;
    padding: 10px;
    border: none;

    font-size: 25px;

    background-color: #ccc;
    color: #33469b;
    padding: 10px;
    cursor: pointer;
}


.popupwrapper {
    margin: 0 auto;
}

.filterDiv {
    display: none;
}

.show {
    display: block;
}

.all {
    margin-top: 20px;
    overflow: hidden;
}

/* Style the buttons */
.btm {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
}

.btm:hover {
    background-color: #ddd;
}

.btm.active {
    background-color: #33469b;
    color: white;
}

/* voor buttons*/
.log {
    align-items: center;
    margin: 0 auto;
    max-width: 300px;
    padding: 16px;
    background-color: rgb(224, 218, 218);
}

.log b {
    padding-left: 5px;
}

input[type=text],
input[type=paswoord] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;

}

input[type=text]:focus,
input[type=paswoord]:focus {
    background-color: grey;
    outline: none;

}

.login {
    background-color: #33469b;
    color: white;
    text-decoration: none;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.login:hover {
    opacity: 1;
}

/*background photo*/
.tutsbg {
    background: url("../images/projects/babeltoren-school.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    margin-bottom: 50px;
}

/*text tutorials*/
.logtext h2 {
    font-size: 35px;
    text-align: center;
    padding-bottom: 20px;
}

.logtext p {
    text-align: center;
    padding-bottom: 20px;
}

.log h1 {
    margin: 0 auto;
    text-align: center;
}

.proces-h2 {
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 35px;
    text-align: center;
}

@media (max-width:900px) {

    .kader {
        padding-top: 30px;
    }

    .cilinder {
        display: flex;
    }

    .cilinder div {
        flex: 1;
    }

    .kader ul li {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .visitekaart h2 {
        font-size: 15px;
    }

    .popup {
        font-size: 15px;
    }

    .popup:hover {
        font-size: 15px;
    }


    .card img {
        width: 100%;
    }

    .flex-wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

}

@media (max-width:700px) {
    .kader ul li {
        font-size: 15px;
        margin-right: 300px;
        margin-bottom: 10px;
    }

    .cilinder {
        display: flex;
    }

    .cilinder div {
        flex: 1;
    }

    .kader ul {
        padding-right: 100px;
    }

    .icon h1 {
        font-size: 20px;
        color: #33469b;
        padding-top: 20px;
        font-family: 'Manrope', sans-serif;
    }

    .popup {
        font-size: 15px;
    }

    .popup:hover {
        font-size: 15px;
    }

    .flex-wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

}

@media (max-width:480px) {

    .kader ul {
        border: 7px solid white;
        text-align: center;
        margin: 0 auto;
    }

    .twp {
        display: flex;
    }

    .twp div {
        flex: 1;
    }

    .kader {
        padding-top: 30px;
    }

    .kader ul li {
        margin-bottom: 10px;
    }

    .kader img {
        width: auto;
    }

    .icon h1 {
        font-size: 10px;
        color: #33469b;
        padding-top: 20px;
        font-family: 'Manrope', sans-serif;
    }

    .popup {
        font-size: 15px;
    }

    .popup:hover {
        font-size: 15px;
    }

    .flex-wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}